<!DOCTYPE html>
<html lang="ko">

  <head>
    {% load static %}
    {% load custom_tags %}
    <link rel="stylesheet" href="{% static 'admin/css/footer.css' %}">
    <script src="{% static 'admin/js/loading.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/clipboard.js' %}" type="text/javascript"></script>
    {% comment %} <script src="{% static 'admin/js/noback.js' %}" type="text/javascript"></script> {% endcomment %}
    <script src="{% static 'admin/js/diffstr.js' %}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/github.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
    
  </head>
  <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="" style="overflow: scroll;">
      <div id="top" class="shadow pt-4 pb-4 h-10" style="background-color: #414e5ae5;">
        <div class="row">
          <div class="col-3 ms-4">
            <a class="text-white text-decoration-none" href="/course">
              <img src="/static/admin/img/home.png" class="img-fluid" alt="...">
            </a>
          </div>
          <div class="col-6 justify-content-center">
            <fieldset disabled="disabled">
              <div class="row justify-content-center">
                <div class="col ps-1">
                  <input type="text" id="disabledTextInput" class="form-control text-center" placeholder="{{ assignment.title }}">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="row">
          <div class="col-3 shadow p-0" style="background-color: #fcfcfc;">
              <div class="text-white pt-3 pb-3 ps-3 w-100" style="background-color: #414e5a;">
                <h5>문제와 제한사항</h5>
              </div>
              <div class="overflow-auto" style="height: 35vh;">
                <div class="ps-4 pt-2 pb-2" style="background-color: #414E5A4D;">
                  <h6>문제</h6>
                </div>
                <div class="container pt-3 pb-3">
                  <h7>{{ assignment.problem }}</h7>
                </div>
                <div class="ps-4 pt-2 pb-2" style="background-color: #414E5A4D;">
                  <h6>제한사항</h6>
                </div>
                <div class="container pt-3 pb-3">
                  <h7>{{ assignment.constraint }}</h7>
                </div>
              </div>
              <div class="text-white pt-3 pb-3 ps-3 w-100" style="background-color: #414e5a;">
                <h5>채점요소</h5>
              </div>
              <div class="overflow-auto" style="height: 35vh;">
                <div class="container pt-3 pb-3">
                  {% for tc_no, testcase in testsuite.items %}
                    <button class="btn btn-outline-primary copy-btn" id="tc_no" onclick="copyClipboard('{{ testcase.0 }}')">테스트케이스 {{ tc_no }}번</button><br>
                    <h7>입력값: {{ testcase.0 }}</h7><br>
                    <h7>출력값: {{ testcase.1 }}</h7><br><br><br>
                  {% endfor %}
                </div>
              </div>
          </div>

          <div class="col-6 p-4">
            <form method="post" action="{% url 'coding' %}">
              {% csrf_token %}
              <div class="spinner-border" role="status" id="loadingStatus" style="position:absolute; z-index:1000; display:none; left:49%; top:49%;"></div>
              <div class="pt-3 pb-3 ps-3"><h5>코드작성</h5></div>
              <div class="">
                {% load djangocodemirror_tags %}
                <textarea style="tab-size: 4;" id="code" name="code" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t\b\b\b\b'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{% if code %}{{ code }}{% else %}{{ assignment.format }}{% endif %}</textarea>
                {% codemirror_instance 'python' 'code_codemirror' 'code' %}
                <div class="row ps-2 pe-2 mt-5">
                  <div class="col-9">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" name="execute" value="실행" onclick="showLoading()">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" name="grading" value="채점" onclick="showLoading()">
                  </div>
                  <div class="col-3 text-end">
                    <input class="btn btn-lg btn-danger btn-block" type="submit" name="submit" onclick="submit()" value="제출" onclick="showLoading()">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-3 shadow p-0" style="background-color: #fcfcfc;">
            <div class="accordion accordion-flush">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="background-color: #414e5a;">
                    {% if btn == "grading" %}
                      <h5>채점결과</h5>
                    {% elif state %}
                      <h5>성적</h5>
                    {% elif btn == "execute" %}
                      <h5>실행결과</h5>
                    {% endif %}
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body in overflow-auto" style="height: 35vh;">
                    {% if state %}
                      <h7>{{ name }}님의 채점 결과는 <mark>{{ state }}</mark> 입니다.</h7><br><br>
                      <h7>총점: {{ score }}</h7><br><br><br>
                      {% for num, res in passfail.items %}
                          <mark><h7>테스트케이스 {{ num }}번: {{ res }}</h7></mark><br><br>
                          {% for tc_no, testcase in testsuite.items %}
                              {% if num == tc_no and res == "Fail" %}
                                  <h7>입력값: {{ testcase.0 }}</h7><br>
                                  <h7>출력값: {{ testcase.1 }}</h7><br><br><br>
                              {% endif %}
                          {% endfor %}
                      {% endfor %}
                    {% else %}
                      <h7>{{ result|linebreaks }}</h7><br>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% if btn == "grading" and state == "wrong" %}
              <div class="accordion accordion-flush">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #414e5a;">
                      <h5 class="text-white me-3">힌트</h5>
                        <h5><span class="badge rounded-pill bg-warning text-dark">{{ hint_length }}+</span></h5>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body in overflow-auto" style="height: 35vh;">
                        {% for line, hint_list in hints.items %}
                          {% if forloop.first %}
                            {% for hint_map in hint_list %}
                              {% for edit, hint in hint_map.items %}
                                <div class="row container m-4">
                                  <h4><span class="badge bg-warning text-dark">line {{ line }}</span></h4>
                                  <p class="fs-5">{{ edit }} {{ hint }}</p>
                                </div>
                              {% endfor %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
  </body>
  <style>
    .CodeMirror {
      border: 3px solid #eee;
      font-family: monospace;
      height: 70vh;
      color: black;
    }
    .CodeMirror-linenumbers {}
    .CodeMirror-linenumber {
      padding: 0 3px 0 5px;
      min-width: 20px;
      text-align: right;
      color: #999;
      white-space: nowrap;
    }
  </style>
  
</html>