html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#wrapper{
  min-height: 100%;
  width:100%;
  position: relative;
  padding-bottom: 20vh;
}

#footer{
    height: 20vh;
    position: absolute;
    background:#ccc;
    width:100%;
    bottom:0;
  }